  <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

               <div class="col-md-4 pt-5">
    <h2 class="h2 text-success border-bottom pb-3 border-light logo">AppleZoone</h2>
    <ul class="list-unstyled text-light footer-link-list">
        <li>
            <i class="fas fa-map-marker-alt fa-fw"></i>
            <a class="text-decoration-none" href="https://www.google.com/maps/place/Suez, Suez Governorate, Egypt" target="_blank">Suez, Suez Governorate, Egypt</a>
        </li>
        <li>
            <i class="fa fa-phone fa-fw"></i>
            <a class="text-decoration-none" href="https://wa.me/201001404850">01001404850</a>
        </li>
        <li>
            <i class="fa fa-envelope fa-fw"></i>
            <a class="text-decoration-none" href="mailto:yahhmdh6@gmail.com">yahmdh6@gmail.com</a>
        </li>
    </ul>
</div>
                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="{% url 'shop:shop_list' %}">iphone16 Pro Max</a></li>
                        <li><a class="text-decoration-none" href="{% url 'shop:shop_list' %}">AirPods Pro 2</a></li>
                        <li><a class="text-decoration-none" href="{% url 'shop:shop_list' %}">Apple Watch Ultra 3</a></li>
                        <li><a class="text-decoration-none" href="{% url 'shop:shop_list' %}">MagSafe Charger Duo</a></li>
                   
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Home</a></li>
                        <li><a class="text-decoration-none" href="{% url 'shop:shop_list' %}">Shop</a></li>
                        <li><a class="text-decoration-none" href="{% url 'contact:send_text' %}">Contact</a></li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                      
                      
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/in/yahia-ahmed-b4b699249/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>

        <div class="w-100 bg-black py-3">
       
        </div>

    </footer>